img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#produc {
    background-color: aqua;
    font-family: Arial;
}

.titulos {
    font-family: Impact;
    color: yellow;
    background-color: black;
}